.about {
  padding:30px 0;
  font-weight: bold;
  color: #000000;

  @media (min-width: $desktop-width) {
    padding: 70px 0 80px 175px;
  }
}

.about__title {
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about__advantages {
  list-style-type: none;
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 335px 335px;
    grid-row-gap: 25px;
  }
}

.about__advantage {
  padding-top: 48px;
  margin-top: 35px;
  @media (min-width: $tablet-width){
   width: 265px;
  }
}

.about__text {
  font-size: 17px;
  line-height: 20px;
  position: relative;

  &--material::before{
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/icon-1.svg");
    top: -55px;
    left: 7px;
    width: 33px;
    height: 38px;
  }

  &--price::before{
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/icon-3.svg");
    top: -55px;
    left: 0;
    width: 47px;
    height: 27px;
  }

  &--like::before{
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/icon-5.svg");
    top: -50px;
    left: 7px;
    width: 34px;
    height: 27px;
  }

  &--hand::before{
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/icon-2.svg");
    top: -53px;
    left: 2px;
    width: 35px;
    height: 34px;
  }

  &--support::before{
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/icon-4.svg");
    top: -52px;
    left: -6px;
    width: 55px;
    height: 23px;
  }

  &--present::before{
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/icon-6.svg");
    top: -53px;
    left: 3px;
    width: 33px;
    height: 32px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}
