.contacts {
  padding: 38px 0;
  text-align: center;
  background-image: url("../img/zigzag2.svg");
  background-position: top;
  background-repeat: repeat-x;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    padding-top: 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 150px 550px 105px 175px;
    text-align: left;
  }
}

.contacts__title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 28px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    position: relative;
    text-align: left;
    margin-bottom: 50px;

    &::before {
      content: "";
      display: block;
      background-image: url("../img/flag.svg");
      background-repeat: no-repeat;
      right: 0;
      top: -20px;
      position: absolute;
      width: 47px;
      height: 81px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;

    &::before {
      left: -110px;
    }
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 62px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    font-size: 17px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.contacts__contact {
  display: grid;
  grid-template-columns: 78px 182px;

  &:not(:nth-last-child(1)) {
    margin-bottom: 50px;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 78px 255px;

    &:not(:nth-last-child(1)) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 80px 250px;

    &:not(:nth-last-child(1)) {
      margin-bottom: 50px;
    }
  }
}

.contacts__value {
  text-align: left;
  &--mail {
    border-bottom: 1px solid $second-color;
    width: 167px;

    &:active {
      border-color: rgba($color: $second-color, $alpha: 0.1);
    }
  }

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
  }

  @media (min-width: $tablet-width) {
    &--mail {
      height: 31px;
      width: 204px;
    }
  }
}

.contacts__map {
  margin-bottom: 42px;
  position: relative;
  width: 100%;
}

.contacts__map-map {
  width: 100%;
  height: 450px;

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 527px;
    height: 457px;
    right: -450px;
    top: -405px;
  }
}

.contacts__write {
  color: #444444;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #444444;
  padding: 16px 38px;
  background-color: #ffffff;

  &:hover {
    background-color: #444444;
    color: #ffffff;
  }

  &:active {
    background-color: #444444;
    color: rgba($color: #ffffff, $alpha: 0.3);
  }

}
