.contacts {
  padding: 38px 0;
  text-align: center;
}

.contacts__title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 28px;
  color: #000000;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 62px;
}

.contacts__contact {
  display: grid;
  grid-template-columns: 78px 182px;

  &:not(:nth-last-child(1)) {
    margin-bottom: 50px;
  }
}

.contacts__value {
  &--mail {
    border-bottom: 1px solid $second-color;

    &:active {
      border-color: rgba($color: $second-color, $alpha: 0.1);
    }
  }

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
  }
}

.contacts__map {
  margin-bottom: 42px;
}

.contacts__write {
  color: #444444;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #444444;
  padding: 16px 38px;
  background-color: #ffffff;

  &:hover {
    background-color: #444444;
    color: #ffffff;
  }

  &:active {
    background-color: #444444;
    color: rgba($color: #ffffff, $alpha: 0.3);
  }

}
