.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main__header {
  color: #000000;
  background-color: $main-bg-color;

  &--index {
    background-image: url("../img/house-m.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.main__header-title {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  margin: 73px 30px 120px;
}

.main__header-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.main__header-item {
  padding-top: 24px;
  padding-bottom: 31px;

  &:nth-child(1) {
    background-color: $second-color;
  }

  &:nth-child(2) {
    background-color: $third-color;
  }
}

.main__header-link {
  text-decoration: none;
  width: 100%;
}

.main__header-text {
  width: 48px;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
}
