.navigation {
  margin-left: auto;
  width: 20px;
  height: 14px;
  margin-top: -30px;
  margin-right: 30px;
  position: relative;
}

.navigation__toggle {
  background-color: inherit;
  width: 20px;
  height: 14px;
  padding: 0;
  border: none;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    top: 0;
    left: 0;
    background-color: #231f20;
    box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
  }

  @media (min-width:$desktop-width) {
    display: none;
  }
}

.site-list {
  list-style-type: none;
  display: none;
  margin-right: auto;
  position: absolute;
  left: -870px;
  align-items: center;
  margin-right: 10px;
  margin-top: 10px;
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.site-list__item {
  &:nth-child(1) {
    margin-right: 10px;
  }
}

.site-list__link {
  text-decoration: none;
  color: #000000;
  padding: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}


.user-list {
  list-style-type: none;
  display: none;
  margin-right: auto;
  position: absolute;
  left: -460px;
  align-items: center;
  margin-top: 10px;
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.user-list__item {
  text-align: right;
  padding-left: 2px;
  &:nth-child(1) {
    margin-right: 10px;
  }
}

.user-list__link {
  text-decoration: none;
  color: #000000;
  padding: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-list__link:hover .user-list__icon {
  fill: $second-color;
  opacity: 1;
}
