.reviews {
  padding: 30px 0 45px;
  @media (min-width: $tablet-width) {
    background-image: url("../img/review-t.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: 350px 457px;
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 125px;
    padding-bottom: 85px;
    margin-left: 50px;
  }
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}

.reviews__list {
  margin-bottom: 38px;
  list-style-type: none;
}

.reviews__text {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    margin-bottom: 60px;
  }
}

.reviews__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}

.reviews__info {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.reviews__name {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.reviews__contact {
  font-size: 17px;
  line-height: 24px;

}

.reviews__arrows {
  margin-bottom: 38px;
  display: flex;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.reviews__arrow {
  background-color: #ffffff;
  width: 130px;
  height: 52px;
  border: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    border: none;
    width: 110px;
  }
}

.reviews__arrow:hover svg {
  opacity: 0.6;
}

.reviews__arrow:active svg {
  opacity: 0.3;
}

.reviews__write {
  color: #444444;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px 80px;
  border: 2px solid #444444;
  background-color: #ffffff;

  &:hover {
    background-color: #444444;
    color: #ffffff;
  }

  &:active {
    background-color: #444444;
    color: rgba($color: #ffffff, $alpha: 0.3);
  }

  &--t-d {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;

    &--t-d {
      display: block;
      padding: 16px 60px;
    }
  }
}

